.teacher-logs-layout
{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.teacher-logs-layout>.body
{
    width: min(1239px, 100% - 3rem);
    height: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 3rem;
    overflow-y: hidden;
    scrollbar-gutter: stable;
}

.teacher-logs-layout>.body:hover
{
    overflow-y: auto;
    scrollbar-gutter: stable;
}