.teacher-discipline-showcase
{
    height: min(300px,30%);
    width: min(1600px ,100% - 3rem);
    position: relative;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2.5vw;
}

.teacher-discipline-showcase>.button-left
{
    position: absolute;
    left: 0px;
    height: max-content;
    width: max-content;
    cursor: pointer;
    z-index: 40;
}

.teacher-discipline-showcase>.button-right
{
    position: absolute;
    right: 0px;
    height: max-content;
    width: max-content;
    cursor: pointer;
    z-index: 40;
}

.teacher-discipline-showcase .showcase-item
{
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-x: hidden;

    color: white;
    font-family: "Inria Sans", sans-serif;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #013269;
    width: 18%;
    aspect-ratio: 1 / 1;
    font-size: 32px;
    border-radius: 15px;
}

.teacher-discipline-showcase .showcase-skeleton
{
    width: 18%;
    height: auto;
    aspect-ratio: 1/1;
    border-radius: 15px;
}

.teacher-discipline-showcase .showcase-item span
{
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 10px;
}

.teacher-discipline-showcase .soft-error
{
    align-self: center;
    justify-self: center;
    width: 100%;
    text-align: center;
    font-family: "Inria Sans", sans-serif;
    font-size: 50px;
    color: grey;
}