.teacher-presence-log-table
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    font-weight: 400;
    font-size: 28px;
    font-family: "Inria Sans", sans-serif;
    
    overflow-x: auto;
    position: relative;
}

.teacher-presence-log-table input
{
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    width: 100px;
}

.teacher-presence-log-element.top-half-element
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: max-content;
    min-height: max-content;
}

.teacher-presence-log-element .edit-button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit-button:hover
{
    cursor: pointer;
}

.teacher-presence-log-column
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;

    width: max-content;
    flex-grow: 1;
    min-width: max-content;
}

.teacher-presence-log-column.sticky
{
    position: sticky;/* required */
    position: -webkit-sticky;/* required */
    left: 0px;
    float: left;
    z-index: 10;
}

.teacher-presence-log-element
{
    font-weight: 400;
    font-size: 28px;
    font-family: "Inria Sans", sans-serif;

    display: flex;
    flex-direction: column;
    min-width: max-content;
    width: 100%;
    align-items: center;
    justify-content: center;

    outline: 1px solid #d3d3d8;

    background-color: white;

    height: 45px;
}

.teacher-presence-log-element.expanded
{
    box-sizing: border-box;
    padding: 0px 10px;
}

.teacher-presence-log-element:nth-child(even)
{
    background-color: #F1F1F6;
}

.teacher-presence-log-element.title
{
    height: 135px;
}

.teacher-presence-log-element.vertical
{
    height: 120px;
    writing-mode: vertical-lr;
    font-size: 18px;
    white-space: nowrap;
    background-color: white;
}

.teacher-presence-log-element.mark
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.teacher-presence-log-element.name
{
    align-items: flex-start;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.teacher-presence-log-table {
    scrollbar-width: auto;
    scrollbar-color: #7b4255 #ffffff;
}

/* Chrome, Edge, and Safari */
.teacher-presence-log-table::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}

.teacher-presence-log-table::-webkit-scrollbar-track {
    background: #ffffff;
}

.teacher-presence-log-table::-webkit-scrollbar-thumb {
    background-color: #7b4255;
    border-radius: 15px;
    border: 3px solid #ffffff;
}
