html, body
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.teacher-discipline
{
    height: 35%;
    min-height: 450px;
    width: 20%;
    min-width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    font-family: "Inria Sans", sans-serif;
    font-size: 24px;
    color: black;
}



.teacher-discipline .sub-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}

.teacher-discipline .sub-menu>*,.group-flows,.title-name
{
    margin: 13px 20px;
}

.teacher-discipline .sub-menu-button>a
{
    text-decoration: none;
    width: max-content;
    height: max-content;
    padding: 10px;
    background-color: #7B4255;
    border-radius: 10px;
}

.teacher-discipline .group-flows>span
{
    margin-right: 40px;
}

.teacher-discipline .title-name
{
    font-size: 32px;
    font-weight: 400;
}

.teacher-discipline select
{
    font-family: "Inria Sans", sans-serif;
    font-size: 24px;
    color: black;
}

.teacher-discipline .sub-sub-menu
{
    cursor: pointer;
}

.teacher-discipline .sub-sub-menu>object
{
    pointer-events: none;
}

.teacher-discipline .sub-menu-button>a:hover
{
    background-color: #572f3c;
    transition: 200ms;
    cursor: pointer;
}

.teacher-discipline .sub-menu-button>a:active
{
    background-color: white;
    transition: none;
    color: black;
}

.teacher-discipline .sub-menu>.popup-menu
{
    position: absolute;
    z-index: 5;
    border: 2px solid #572f3c;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    border-radius: 10px;
    padding: 10px;

    top: 30px;
}

.teacher-discipline .sub-menu>.popup-menu>a
{
    color: black;
}

.teacher-discipline>.group-flows>select
{
    width: 40%;
}

.teacher-discipline>.group-flows
{
    width: 100%;
}