.teacher-group-table-item>.content
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0px;
}

.teacher-group-table-item>.content>*
{
    flex: 1 1 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.group-name
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.teacher-group-table-item>.content .unfold-button, .teacher-group-table-item>.content .group-name
{
    flex: 0.5 1 0px;
}

.teacher-group-table-item>.sub-content
{
    margin-left: max(5%, 20px);
}

.teacher-group-table-item:nth-child(1)
{
    margin-top: 14px;
}