.link-button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.site-button>.button-img
{
    margin-right: 5px;
}

.site-button:active .button-img
{
    filter: grayscale(100%) invert(100%);
}