.app-layout
{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #F1F1F6;

    display: flex;
    flex-direction: column;
    font-family: "Inria Sans", sans-serif;
}

.app-layout>.app-header
{
    height: 10%;
    width: 100%;
    max-height: 65px;
    background-color: #7B4255;
    
    display: flex;
    flex-direction: row;
    
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.app-layout>.app-header>.header-logo
{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.app-layout>.app-header>.header-logo>.header-logo-image
{
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-layout>.app-header>.header-logo>.header-logo-image>img
{
    background-image: url("./../../assets/app-logo.png");
}

.app-layout>.app-header>.header-title
{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.app-layout>.app-header>.header-menu
{
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
}

.app-layout>.bottom-part
{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.app-layout>.bottom-part>.left-menu
{
    height: 100%;
    width: 10%;
    max-width: 65px;
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}



.app-layout>.bottom-part>.left-menu>.menu-left-item
{

    display: flex;
    align-items: center;
    justify-content: center;
}

.app-layout>.bottom-part>.left-menu>.menu-left-item a
{
    cursor: pointer;
}

.app-layout>.bottom-part>.left-menu>.menu-left-item object
{
    pointer-events: none;
}



.app-layout>.bottom-part>.content
{
    height: 100%;
    width: 100%;

}

.app-layout .button-img
{
    cursor: pointer;
}

.app-layout .button-img>object
{
    pointer-events: none;
}


.app-layout .header-menu>.popup-menu
{
    position: absolute;
    z-index: 5;
    border: 2px solid #572f3c;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    border-radius: 10px;
    padding: 10px;
    
    right: 20px;
    top: 58px;
}

.app-layout .header-menu>.popup-menu a
{
    color: black;
}

.app-layout .header-menu .user-photo
{
    background-size: cover;
    height: 90%;
    aspect-ratio: 1;
    border-radius: 100%;
}

.user-photo-popup
{
    height: 50px;
    aspect-ratio: 1;
    border-radius: 100%;
    background-size: cover;
}

.popup-div
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}