.teacher-disciplins-layout
{
    height: 100%;
    width: 100%;
    position: relative;
}

.teacher-disciplins-layout-body
{
    height: calc(100% - 16%);
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 5%;
    column-gap: 5%;

    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;

    overflow-y: hidden;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.teacher-disciplins-layout-body:hover
{
   overflow-y: scroll;
}

.teacher-disciplins-layout-menu
{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.create-discipline>a
{
    text-decoration: none;
    padding: 10px;
    height: max-content;
    width: max-content;
    background-color: #7B4255;
    border-radius: 10px;
    transition: 200ms;
}

.create-discipline>a:hover
{
    background-color: #572f3c;
    transition: 200ms;
    cursor: pointer;
}

.create-discipline>a:active
{
    background-color: white;
    transition: none;
    color: black;
}

.teacher-disciplins-layout object
{
    pointer-events: none;
}

.teacher-disciplins-layout .sort-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 40%;
    height: 100%;
}

.teacher-disciplins-layout .search-discipline
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 60%;
}

.teacher-disciplins-layout .sort-block
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 45%;
}

.teacher-disciplins-layout .search-discipline input
{
    font-size: 20px;
    height: 30px;
    font-weight: 400;
    font-family: 'Inria Sans', sans-serif;
}

.teacher-disciplins-layout .search-button
{
    height: 42px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer; 
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .teacher-disciplins-layout-body {
    scrollbar-width: auto;
    scrollbar-color: #7b4255 #F1F1F6;
  }

  /* Chrome, Edge, and Safari */
  .teacher-disciplins-layout-body::-webkit-scrollbar {
    width: 15px;
  }

  .teacher-disciplins-layout-body::-webkit-scrollbar-track {
    background: #F1F1F6;
  }

  .teacher-disciplins-layout-body::-webkit-scrollbar-thumb {
    background-color: #7b4255;
    border-radius: 15px;
    border: 3px solid #F1F1F6;
  }